body{
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100%;
    display: flex; 
}
.lado_esquerdo{
    width: 50%;
    height: 100%;
    background: linear-gradient(0deg, #19A3A6 16.31%, #03355A 100%);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25) inset;
}
.image{
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
}
.lado_direito{
    width: 50%;
    height: 100%;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.caixa_formulario h1{
    background: linear-gradient(250deg, #19A3A6 30%, #03355A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    font-size: 36px;
    font-family: Poppins;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.email_senha{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.nome{
    width: 300px;
    height: 50px;
    background-image: url("./image/pessoa.svg");
    background-position: 10px;
    background-repeat: no-repeat;
    border-radius: 25px;
    font-size: 15px;
    border: 1px solid #10768D;
    color: #19A3A6;
    font-family: Poppins;
    padding-left: 35px;
    outline: none;
}
.nome::placeholder{
    color: #7D7D7D;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
}
.email{
    width: 300px;
    height: 50px;
    background-image: url("./image/Vector\ \(1\).svg");
    background-position: 10px;
    background-repeat: no-repeat;
    border-radius: 25px;
    font-size: 15px;
    border: 1px solid #10768D;
    color: #19A3A6;
    font-family: Poppins;
    padding-left: 35px;
    outline: none;
}
.email::placeholder{
    color: #7D7D7D;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
}
.password{
    width: 300px;
    height: 50px;
    display: flex;
    background-image: url("./image/lock.svg");
    background-repeat: no-repeat;
    background-position: 10px;
    border-radius: 25px;
    font-size: 15px;
    color: #19A3A6;
    border: 1px solid #10768D;
    padding-left: 35px;
    outline: none;
}
.password::placeholder{
    color: #7D7D7D;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
}
.form p{
    display: flex;
    text-align: center;
    color: #686868;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
}
.form a{
    color: #10768D;
}
.entrar{
    width: 300px;
    height: 50px;
    border-radius: 50px;
    margin-top: 20px;
    background: #10768D;
    color: #FFF;
    border: none;
    font-size: 20px;
}
.entrar:hover{
    background: #2c7f92;
}